*, *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.thor-body{
    padding: 0;
    margin: 0;
    background-color: #373737;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.jchs-logo{
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
}

.thor-logo{
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
}

.thor-logo img{
    height:50px;
}

.thor-logo:hover{
    color: gray;
    text-decoration: none;
}

.jchs-logo:hover{
    color: gray;
    text-decoration: none;
}

.jchs-logo-text{
    margin-left: 1rem;
}

.jchs-logo img{
    height: 70px;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.main-nav a{
    color: white;
    text-decoration: none;
    padding: 2em;
    font-size: 1.5em;
}

.main-nav a:hover {
    color: gray;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #580000;
}

.thor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #005189;
}

* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    margin: auto;
}

.center {
    max-height: 1000px;
    object-fit: cover;
    width: 100%;
    margin: auto;
}

.banner{
    position: relative;
    text-align: center;
    color: white;

}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

.head-title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

.car-title{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

.car-button{
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 15px;
    padding: 5px;
    transform: translate(-50%, -50%);
    background-color: #005189;
}

.main-header.fixed{
    position:fixed;
    top:0;
    z-index:100;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #580000;
    width: 100%;
    
} 

.thor-header.fixed{
    position:fixed;
    top:0;
    z-index:100;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #005189;
    width: 100%;
    
} 

.main-info{
    color: black;
    text-align: center;
    margin: 10em;
}

.thor-info{
    color: white;
    text-align: center;
    margin: 5em;
}

.thor-info h1{
    font-size: 50px;
}

.thor-heading{
    color: white;
    text-align: center;
    margin: 2em;
    font-size: 50px;
    font-weight: bold;
}

.thor-info p{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 10em;
    color: lightgray;
    text-align: center;
}

.main-info h1{
    margin-bottom: .1rem;
}

.paragraph-text{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 10em;
    color: black;
}

.main-footer{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: white;
    height: 75px;
    width: 100%;
    justify-content: center;
    margin: auto;
    background-color: #3f0000;
}

.thor-footer{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: white;
    height: 75px;
    width: 100%;
    justify-content: center;
    margin: auto;
    background-color: #005189;
}

.footer-text{
    display: inline-block;
}

p {
    text-indent: 50px;
    font-size: 18px;
   }
            
p.small{
    line-height: 0.8;
   }
        
.dropdown {
     position: relative;
     display: inline-block;
   }

.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;
     }

.dropdown:hover .dropdown-content {
     display: block;

    }

.ham1, .ham2, .ham3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 2em;
}

.icon {
    display: inline-block;
    cursor: pointer;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 101; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    overflow-y: auto;/* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: gray;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size : 36px;
    margin-right: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.divider{
    display: flex;
}

.left{
    flex: 0 0 50%;
    margin: 1em;
}

.left h1{
    font-size: 25px;
    margin: 1em;
}

.left p{
    font-size: 15px;
    margin: 1em;
    color: gray;
}

.right{
    flex: 1;
    margin: 1em;
}

.right h1{
    font-size: 25px;
    margin: 1em;
}

.right p{
    font-size: 15px;
    margin: 1em;
    color: gray;
}

/* Slideshow container */
.cars-slideshow {
    width: 100%;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;

  }

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 50px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Style inputs */
input[type=text], select, textarea {
    color: white;
    background-color: #111;
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=text]:placeholder-shown{
      color: white;
  }
  
  input[type=submit] {
    background-color: #005189;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #002f53;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    padding-top: 0px;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 7em;
    align-items: center;
  }

  .thor-text{
      color: white;
  }

  .popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
  }
  
  /* Modal Content/Box */
  .popup-content {
    background-color: White;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 80%; /* Could be more or less, depending on screen size */
  }
