*, *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: white;
}

.jchs-logo{
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
}

.tsa-logo{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.tsa-logo img{
    height:50px;
}

.jchs-logo:hover{
    color: gray;
    text-decoration: none;
}

.jchs-logo-text{
    margin-left: 1rem;
}

.jchs-logo img{
    height: 70px;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.main-nav a{
    color: white;
    text-decoration: none;
    padding: 2em;
    font-size: 1.5em;
}

.main-nav a:hover {
    color: gray;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #580000;
}

* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    margin: auto;
}

.center {
    max-height: 1000px;
    object-fit: cover;
    width: 100%;
    margin: auto;
}

.banner{
    position: relative;
    text-align: center;
    color: white;

}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

.head-title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

.main-header.fixed{
    position:fixed;
    top:0;
    z-index:100;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #580000;
    width: 100%;
    
} 

.main-info{
    color: black;
    text-align: center;
    margin: 10em;
}

.main-info h1{
    margin-bottom: .1rem;
}

.paragraph-text{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 10em;
    color: black;
}

.main-footer{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: white;
    height: 75px;
    width: 100%;
    justify-content: center;
    margin: auto;
    background-color: #3f0000;
}

.footer-text{
    display: inline-block;
}

p {
    text-indent: 50px;
    font-size: 18px;
   }
            
p.small{
    line-height: 0.8;
   }
        
.dropdown {
     position: relative;
     display: inline-block;
   }

.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;
     }

.dropdown:hover .dropdown-content {
     display: block;

    }

.ham1, .ham2, .ham3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 2em;
}

.icon {
    display: inline-block;
    cursor: pointer;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 101; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    overflow-y: auto;/* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: gray;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size : 36px;
    margin-right: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.divider{
    display: flex;
}

.left{
    flex: 0 0 50%;
    margin: 1em;
}

.left h1{
    font-size: 25px;
    margin: 1em;
}

.left p{
    font-size: 15px;
    margin: 1em;
    color: gray;
}

.right{
    flex: 1;
    margin: 1em;
}

.right h1{
    font-size: 25px;
    margin: 1em;
}

.right p{
    font-size: 15px;
    margin: 1em;
    color: gray;
}